/**/

/*------------------------------------------------------*/
.form-container {
  padding: 30px 60px 30px 30px;
  margin-top: 30px;
  // width: 860px;
  background-color: #fff;
  padding: 20px;

  .form-panel {
    margin-top: 36px;
    overflow: hidden;
    padding-bottom: 80px;
    .info{
      color: #073984;
      background-color: #cfe2ff;
      border-color: #bbd6fe;
      position: relative;
      padding: 1rem 1rem;
      margin-bottom: 38px;
      font-size: 15px;
      border: 1px solid transparent;
      border-radius: .25rem;
    }
    .form-group {
      min-height: 45px;
      overflow: hidden;
      clear: both;
      label {
        display: block;
        width: 90px;
        height: 30px;
        line-height: 30px;
        float: left;
      }
      input[type="text"] {
        height: 24px;
        line-height: 30px;
        width: 180px;
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
        outline-style: none;
      }
      textarea {
        width: 360px;
        max-width: 95%;
        height: 180px;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
        outline-style: none;
      }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        font-size: 13px;
        color: #cfcfcf;
      }
    }
    .checkbox-list {
      margin-top: 10px;
      margin-left: 90px;
      label {
        min-width: 60px;
        float: left;
        margin-right: 20px;
        input[type="radio"] {
          float: left;
        }
        span {
          margin-left: 3px;
        }
      }
    }
    .form-group > button {
      height: 30px;
      padding: 0px 15px;
      border-radius: 3px;
      border: 0px;
      margin-top: 30px;
      background-color: #0076db;
      color: #fff;
      font-size: 13px;
      line-height: 30px;
      outline-style: none;
      margin-left: 90px;
    }
  }
}
