/* ---------------------------------------------------------- */
/*	分页
/* ---------------------------------------------------------- */
nav.pagination {
  font-size: 20px;
  border-top: 0px;
  border-bottom: 0px;
  .nav-links {
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.8em;
    font-weight: 100;
    width: 100%;
  }
  .pagination-separator {
    margin: 5em 0;
  }
  .nav-links > * {
    min-width: 2em;
    height: 2em;
    line-height: 2.1em;
    text-align: center;
    font-size: 0.4em;
    border: 1px solid #3e3e3e;
    margin: 1.5em 0.25em;
    display: block;
  }
  .nav-links > .current {
    background-color: $my-button-bg-color;
    border-color: $my-button-border-color;
    color: #fff;
    border-radius: 3px;
  }
  
  .nav-links .placeholder {
    display: none;
    visibility: hidden;
  }
  a {
    text-decoration: none;
    border-radius: 3px;
  }
  a:hover {
    border-color: $my-button-border-color;
  }
}












